# Build directories
build/
cmake-build-*/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.ninja
*.cmake

# Binaries
linked_list_insertion_sort
linked_list_insertion_sort.exe
ll_isort
ll_isort.exe

# Objects and temps
*.o
*.obj
*.pch
*.pdb
*.ilk
*.dll
*.dylib
*.so
*.a
*.lib
*.exp

# IDE junk
.idea/
.vscode/
*.user
*.log
*.DS_Store
